In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd
import openpyxl as opyx

In [17]:
pd.__version__

'2.1.2'

In [18]:
#run this cell and we will speak about this in class
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [19]:
df1 = pd.read_excel('API_NY.GDP.MKTP.CD_DS2_en_excel_v2_4023900.xls',"2020")
df1

                    Country Name Country Code            GDP  population
0                          Aruba          ABW            NaN    106766.0
1    Africa Eastern and Southern          AFE 920792331527.7 677243299.0
2                    Afghanistan          AFG  20116137325.8  38928341.0
3     Africa Western and Central          AFW 784587603322.9 458803476.0
4                         Angola          AGO  58375976293.0  32866268.0
..                           ...          ...            ...         ...
261                       Kosovo          XKX   7716925356.1   1790133.0
262                  Yemen, Rep.          YEM            NaN  29825968.0
263                 South Africa          ZAF 335442101366.4  59308690.0
264                       Zambia          ZMB  18110631358.3  18383956.0
265                     Zimbabwe          ZWE  18051170798.9  14862927.0

[266 rows x 4 columns]

In [21]:
df2 = pd.read_excel('resourcetradeearth_russia_all_wheat.xlsx',"Importers_2020")
df2

,Importer M.49,Importer ISO3,Importer,Importer region,Resource,Year,Value (1000USD),Weight (1000kg)
0,4,AFG,Afghanistan,Central and Southern Asia,Wheat,2020,3243.3,11949.1
1,8,ALB,Albania,Europe,Wheat,2020,35917.1,152057.9
2,24,AGO,Angola,Sub-Saharan Africa,Wheat,2020,46093.8,199652.3
3,31,AZE,Azerbaijan,Northern Africa and Western Asia,Wheat,2020,290906.7,1369706.4
4,36,AUS,Australia,Australia and New Zealand,Wheat,2020,2445.3,1647.6
...,...,...,...,...,...,...,...,...
110,834,TZA,Tanzania,Sub-Saharan Africa,Wheat,2020,154878.7,700911.4
111,842,USA,United States,Northern America,Wheat,2020,14092.7,10073.4
112,854,BFA,Burkina Faso,Sub-Saharan Africa,Wheat,2020,1866.6,6938.0
113,860,UZB,Uzbekistan,Central and Southern Asia,Wheat,2020,10300.9,30168.9
114,887,YEM,Yemen,Northern Africa and Western Asia,Wheat,2020,174314.5,796103.4

In [22]:
df3 = pd.read_excel('resourcetradeearth_ukraine_all_wheat.xlsx', "Importers_2020")
df3

,Importer M.49,Importer ISO3,Importer,Importer region,Resource,Year,Value (1000USD),Weight (1000kg),Unnamed: 8
0,818,EGY,Egypt,Northern Africa and Western Asia,Wheat,2020,1302691.6,5541815.6,NaN
1,360,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),Wheat,2020,656298.7,2886787.0,NaN
2,50,BGD,Bangladesh,Central and Southern Asia,Wheat,2020,294847.1,1514724.7,NaN
3,792,TUR,Turkey,Northern Africa and Western Asia,Wheat,2020,310293.5,1495828.4,NaN
4,586,PAK,Pakistan,Central and Southern Asia,Wheat,2020,322861.5,1294414.3,NaN
...,...,...,...,...,...,...,...,...,...
116,136,CYM,Cayman Islands,Latin America and the Caribbean,Wheat,2020,0.0,0.0,NaN
117,70,BIH,Bosnia Herzegovina,Europe,Wheat,2020,0.0,0.0,NaN
118,340,HND,Honduras,Latin America and the Caribbean,Wheat,2020,0.0,0.0,NaN
119,428,LVA,Latvia,Europe,Wheat,2020,0.0,0.0,NaN
120,899,NaN,"Areas, nes",NaN,Wheat,2020,0.1,0.0,NaN

In [24]:
df1 = df1.rename(columns={df1.columns[0]:'country_name',
                          df1.columns[1]:'country_code'})
df1

                    country_name country_code            GDP  population
0                          Aruba          ABW            NaN    106766.0
1    Africa Eastern and Southern          AFE 920792331527.7 677243299.0
2                    Afghanistan          AFG  20116137325.8  38928341.0
3     Africa Western and Central          AFW 784587603322.9 458803476.0
4                         Angola          AGO  58375976293.0  32866268.0
..                           ...          ...            ...         ...
261                       Kosovo          XKX   7716925356.1   1790133.0
262                  Yemen, Rep.          YEM            NaN  29825968.0
263                 South Africa          ZAF 335442101366.4  59308690.0
264                       Zambia          ZMB  18110631358.3  18383956.0
265                     Zimbabwe          ZWE  18051170798.9  14862927.0

[266 rows x 4 columns]

In [26]:
df2 = df2.rename(columns={df2.columns[0]:'importerm49',
                          df2.columns[1]:'country_code',
                          df2.columns[2]:'importer',
                          df2.columns[3]:'importer_region',
                          df2.columns[6]:'value_in_usd_russia',
                          df2.columns[7]:'weight_1000kg_russia'})
df2

,importerm49,country_code,importer,importer_region,Resource,Year,value_in_usd_russia,weight_1000kg_russia
0,4,AFG,Afghanistan,Central and Southern Asia,Wheat,2020,3243.3,11949.1
1,8,ALB,Albania,Europe,Wheat,2020,35917.1,152057.9
2,24,AGO,Angola,Sub-Saharan Africa,Wheat,2020,46093.8,199652.3
3,31,AZE,Azerbaijan,Northern Africa and Western Asia,Wheat,2020,290906.7,1369706.4
4,36,AUS,Australia,Australia and New Zealand,Wheat,2020,2445.3,1647.6
...,...,...,...,...,...,...,...,...
110,834,TZA,Tanzania,Sub-Saharan Africa,Wheat,2020,154878.7,700911.4
111,842,USA,United States,Northern America,Wheat,2020,14092.7,10073.4
112,854,BFA,Burkina Faso,Sub-Saharan Africa,Wheat,2020,1866.6,6938.0
113,860,UZB,Uzbekistan,Central and Southern Asia,Wheat,2020,10300.9,30168.9
114,887,YEM,Yemen,Northern Africa and Western Asia,Wheat,2020,174314.5,796103.4

In [28]:
df3 = df3.rename(columns={df3.columns[0]:'importerm49',
                          df3.columns[1]:'country_code',
                          df3.columns[2]:'importer',
                          df3.columns[3]:'importer_region',
                          df3.columns[6]:'value_in_usd_ukraine',
                          df3.columns[7]:'weight_1000kg_ukraine'})
df3

,importerm49,country_code,importer,importer_region,Resource,Year,value_in_usd_ukraine,weight_1000kg_ukraine,Unnamed: 8
0,818,EGY,Egypt,Northern Africa and Western Asia,Wheat,2020,1302691.6,5541815.6,NaN
1,360,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),Wheat,2020,656298.7,2886787.0,NaN
2,50,BGD,Bangladesh,Central and Southern Asia,Wheat,2020,294847.1,1514724.7,NaN
3,792,TUR,Turkey,Northern Africa and Western Asia,Wheat,2020,310293.5,1495828.4,NaN
4,586,PAK,Pakistan,Central and Southern Asia,Wheat,2020,322861.5,1294414.3,NaN
...,...,...,...,...,...,...,...,...,...
116,136,CYM,Cayman Islands,Latin America and the Caribbean,Wheat,2020,0.0,0.0,NaN
117,70,BIH,Bosnia Herzegovina,Europe,Wheat,2020,0.0,0.0,NaN
118,340,HND,Honduras,Latin America and the Caribbean,Wheat,2020,0.0,0.0,NaN
119,428,LVA,Latvia,Europe,Wheat,2020,0.0,0.0,NaN
120,899,NaN,"Areas, nes",NaN,Wheat,2020,0.1,0.0,NaN

In [30]:
df4 = df1[['country_code','GDP','population']]
df4

    country_code            GDP  population
0            ABW            NaN    106766.0
1            AFE 920792331527.7 677243299.0
2            AFG  20116137325.8  38928341.0
3            AFW 784587603322.9 458803476.0
4            AGO  58375976293.0  32866268.0
..           ...            ...         ...
261          XKX   7716925356.1   1790133.0
262          YEM            NaN  29825968.0
263          ZAF 335442101366.4  59308690.0
264          ZMB  18110631358.3  18383956.0
265          ZWE  18051170798.9  14862927.0

[266 rows x 3 columns]

In [31]:
df5 = df2[['country_code', 'importer','importer_region','value_in_usd_russia','weight_1000kg_russia']]
df5

,country_code,importer,importer_region,value_in_usd_russia,weight_1000kg_russia
0,AFG,Afghanistan,Central and Southern Asia,3243.3,11949.1
1,ALB,Albania,Europe,35917.1,152057.9
2,AGO,Angola,Sub-Saharan Africa,46093.8,199652.3
3,AZE,Azerbaijan,Northern Africa and Western Asia,290906.7,1369706.4
4,AUS,Australia,Australia and New Zealand,2445.3,1647.6
...,...,...,...,...,...
110,TZA,Tanzania,Sub-Saharan Africa,154878.7,700911.4
111,USA,United States,Northern America,14092.7,10073.4
112,BFA,Burkina Faso,Sub-Saharan Africa,1866.6,6938.0
113,UZB,Uzbekistan,Central and Southern Asia,10300.9,30168.9
114,YEM,Yemen,Northern Africa and Western Asia,174314.5,796103.4

In [33]:
df6 = df3[['country_code', 'importer','importer_region','value_in_usd_ukraine','weight_1000kg_ukraine']]
df6

,country_code,importer,importer_region,value_in_usd_ukraine,weight_1000kg_ukraine
0,EGY,Egypt,Northern Africa and Western Asia,1302691.6,5541815.6
1,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),656298.7,2886787.0
2,BGD,Bangladesh,Central and Southern Asia,294847.1,1514724.7
3,TUR,Turkey,Northern Africa and Western Asia,310293.5,1495828.4
4,PAK,Pakistan,Central and Southern Asia,322861.5,1294414.3
...,...,...,...,...,...
116,CYM,Cayman Islands,Latin America and the Caribbean,0.0,0.0
117,BIH,Bosnia Herzegovina,Europe,0.0,0.0
118,HND,Honduras,Latin America and the Caribbean,0.0,0.0
119,LVA,Latvia,Europe,0.0,0.0
120,NaN,"Areas, nes",NaN,0.1,0.0

In [34]:
df7 = pd.merge(df4, df5, on='country_code', how='left')
df7

,country_code,GDP,population,importer,importer_region,value_in_usd_russia,weight_1000kg_russia
0,ABW,NaN,106766.0,NaN,NaN,NaN,NaN
1,AFE,920792331527.7,677243299.0,NaN,NaN,NaN,NaN
2,AFG,20116137325.8,38928341.0,Afghanistan,Central and Southern Asia,3243.3,11949.1
3,AFW,784587603322.9,458803476.0,NaN,NaN,NaN,NaN
4,AGO,58375976293.0,32866268.0,Angola,Sub-Saharan Africa,46093.8,199652.3
...,...,...,...,...,...,...,...
261,XKX,7716925356.1,1790133.0,NaN,NaN,NaN,NaN
262,YEM,NaN,29825968.0,Yemen,Northern Africa and Western Asia,174314.5,796103.4
263,ZAF,335442101366.4,59308690.0,South Africa,Sub-Saharan Africa,124562.0,572367.7
264,ZMB,18110631358.3,18383956.0,NaN,NaN,NaN,NaN
265,ZWE,18051170798.9,14862927.0,Zimbabwe,Sub-Saharan Africa,3594.9,10252.9

In [35]:
df8 = pd.merge(df7, df6, on=['country_code','importer','importer_region'], how='left')
df8

,country_code,GDP,population,importer,importer_region,value_in_usd_russia,weight_1000kg_russia,value_in_usd_ukraine,weight_1000kg_ukraine
0,ABW,NaN,106766.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,920792331527.7,677243299.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,20116137325.8,38928341.0,Afghanistan,Central and Southern Asia,3243.3,11949.1,NaN,NaN
3,AFW,784587603322.9,458803476.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,58375976293.0,32866268.0,Angola,Sub-Saharan Africa,46093.8,199652.3,24.0,98.0
...,...,...,...,...,...,...,...,...,...
261,XKX,7716925356.1,1790133.0,NaN,NaN,NaN,NaN,NaN,NaN
262,YEM,NaN,29825968.0,Yemen,Northern Africa and Western Asia,174314.5,796103.4,144444.6,708418.8
263,ZAF,335442101366.4,59308690.0,South Africa,Sub-Saharan Africa,124562.0,572367.7,12338.2,60006.8
264,ZMB,18110631358.3,18383956.0,NaN,NaN,NaN,NaN,NaN,NaN
265,ZWE,18051170798.9,14862927.0,Zimbabwe,Sub-Saharan Africa,3594.9,10252.9,13720.3,35926.7

In [36]:
df8[df8.duplicated(keep=False)]

Empty DataFrame
Columns: [country_code, GDP, population, importer, importer_region, value_in_usd_russia, weight_1000kg_russia, value_in_usd_ukraine, weight_1000kg_ukraine]
Index: []

In [37]:
df8=df8.dropna()
df8

,country_code,GDP,population,importer,importer_region,value_in_usd_russia,weight_1000kg_russia,value_in_usd_ukraine,weight_1000kg_ukraine
4,AGO,58375976293.0,32866268.0,Angola,Sub-Saharan Africa,46093.8,199652.3,24.0,98.0
5,ALB,14887629268.3,2837849.0,Albania,Europe,35917.1,152057.9,5471.3,22126.8
8,ARE,358868765174.9,9890400.0,United Arab Emirates,Northern Africa and Western Asia,167808.2,685970.5,27420.6,96941.4
10,ARM,12641209802.1,2963234.0,Armenia,Northern Africa and Western Asia,74502.9,370331.5,12.2,25.0
13,AUS,1327836171068.5,25693267.0,Australia,Australia and New Zealand,2445.3,1647.6,11.0,7.0
...,...,...,...,...,...,...,...,...,...
247,UGA,37600368180.9,45741000.0,Uganda,Sub-Saharan Africa,47412.2,202875.6,17811.8,72199.7
251,USA,20953030000000.0,331501080.0,United States,Northern America,14092.7,10073.4,36.6,62.9
257,VNM,271158442448.5,97338583.0,Vietnam,Eastern and South-Eastern Asia (excl. China),163742.7,672277.6,54863.0,250777.7
263,ZAF,335442101366.4,59308690.0,South Africa,Sub-Saharan Africa,124562.0,572367.7,12338.2,60006.8
265,ZWE,18051170798.9,14862927.0,Zimbabwe,Sub-Saharan Africa,3594.9,10252.9,13720.3,35926.7

In [38]:
df9 = df8[(df8.importer_region.str.contains('Asia',case=False))&(df8.importer_region.str.contains('China',case=False))]
df9

,country_code,GDP,population,importer,importer_region,value_in_usd_russia,weight_1000kg_russia,value_in_usd_ukraine,weight_1000kg_ukraine
106,IDN,1058423838345.1,273523621.0,Indonesia,Eastern and South-Eastern Asia (excl. China),10813.5,47853.4,656298.7,2886787.0
119,JPN,5057758958706.6,125836021.0,Japan,Eastern and South-Eastern Asia (excl. China),4.9,7.0,0.1,0.1
123,KHM,25808561551.0,16718971.0,Cambodia,Eastern and South-Eastern Asia (excl. China),137.7,450.0,86.2,365.4
126,KOR,1637895802792.9,51836239.0,"Korea, Republic",Eastern and South-Eastern Asia (excl. China),15113.1,58840.0,83941.7,413403.8
160,MMR,79852046611.0,54409794.0,Myanmar,Eastern and South-Eastern Asia (excl. China),1010.2,4182.8,16669.3,69103.8
169,MYS,337006066373.3,32365998.0,Malaysia,Eastern and South-Eastern Asia (excl. China),12133.0,53922.7,90462.8,378554.8
187,PHL,361489325230.7,109581085.0,Philippines,Eastern and South-Eastern Asia (excl. China),116210.1,548691.5,134799.6,634918.8
208,SGP,339998477930.0,5685807.0,Singapore,Eastern and South-Eastern Asia (excl. China),5.9,10.8,1321.8,5402.2
233,THA,501643653514.9,69799978.0,Thailand,Eastern and South-Eastern Asia (excl. China),68536.4,309931.7,122425.8,569676.4
257,VNM,271158442448.5,97338583.0,Vietnam,Eastern and South-Eastern Asia (excl. China),163742.7,672277.6,54863.0,250777.7

In [39]:
row_count = len(df9)
print(row_count)

10

In [40]:
wheat_importedeu = df8.loc[df8['importer_region'] == 'Europe']
wheat_importedeu
wheat_importedeu['weight_1000kg_russia'].sum() + wheat_importedeu['weight_1000kg_ukraine'].sum()

1975485.5497263162